* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  margin-top: 5%;
  height: 15vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2a85c5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  display: inline-block;
  margin-right: -45px;
}

#help-button {
  font-size: 26px;
  float: right;
  width: 45px;
  height: 45px;
}
p {
  margin-bottom: -10px;
}

.summary {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.secondary {
  color: black;
}

.card-image {
  width: 290px;
}

.card-image-preview {
  width: 100px;
  margin-top: 4vh;
}

/***** Homepage */

#homepage-div {
  max-width: 690px;
  margin-left: auto;
  margin-right: auto;
}

/***** Three Card */
#card-image-first {
  position: relative;
  width: 82px;
  margin-top: 2vh;
  margin-left: 2vh;
  transform: rotate(-10deg);
  z-index: -1;
}
#card-image-second {
  margin-bottom: 1vh;
  margin-left: -3vh;
  position: relative;
  width: 82px;
  z-index: 0;
}
#card-image-third {
  position: relative;
  margin-left: -3vh;
  margin-bottom: 0vh;
  width: 82px;
  transform: rotate(10deg);
  z-index: 1;
}

.name-title {
  border-top: 5px solid black;
}
.threecard-summary {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.threecard-image {
  width: 250px;
}

/***** Four Card */

#card-image-arching {
  width: 100px;
}

/* Nav Bar */

.main-nav {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  width: 100%;
}
.nav-li {
  list-style: none;
  display: table;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 2%;
  border: 2px solid white;
  border-radius: 5px;
  background-color: grey;
  width: 50px;
  height: 50px;
  font-size: 14px;
}

.nav-li a {
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  color: rgb(16, 108, 189);
}
