* {
  box-sizing: border-box;
  margin-bottom: 0px;
}

img {
  -webkit-transform: translateZ(0);
}

html {
  height: 100%;
}

.App {
  text-align: center;
  min-height: 100vh;
  position: relative;
  background-color: #a7dafccc;
}

#App-logo {
  margin-top: 25px;
  margin-bottom: 10px;
  height: 15vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 45s linear;
}

.App-logo-filler {
  margin-top: 5%;
  margin-bottom: 10px;
  height: 50vmin;
  pointer-events: none;
  animation: App-logo-spin-filler infinite 30s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 45s linear;
  }
}

.App-header {
  background-color: #2a85c5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 5px solid grey;
  padding-bottom: 10px;
}

#app-name-h1 {
  font-size: 32px;
  margin-top: 0.7rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Pretty Animation for SVG on main page */
@keyframes App-logo-spin-filler {
  0% {
    transform: rotate(0deg);
    opacity: 0.7;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
    filter: invert(10%) sepia(41%) saturate(700%) hue-rotate(95deg)
      brightness(87%) contrast(96%);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.5;
  }
}

h1 {
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  display: inline-block;
}

.you-drew {
  margin-top: 10px;
  font-size: 32px;
  margin-bottom: 2rem;
  display: inline-block;
}

/******* Help */
.refresh {
  align-items: center;
  justify-content: center;
  float: left;
  width: 52px;
  height: 52px;
  border: 2px solid black;
  border-bottom-right-radius: 10px;
  box-shadow: 1px 1px 5px;
  outline: none;
}

.go-home-div {
  overflow: hidden;
  padding-bottom: 10px;
  margin-right: 7px;
}

.go-home-div.three {
  padding-bottom: 40px;
}

.go-home {
  align-items: center;
  justify-content: center;
  float: right;
  width: 90px;
  height: 45px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 5px;
}

.home-h3 {
  text-decoration: none;
  color: black;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-block-start: 0;
}

.refresh-title.first {
  margin-top: -2px;
}

.refresh-title {
  display: block;
  margin-left: -5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 5px;
}

#help-button {
  font-size: 26px;
  font-weight: 700;
  float: right;
  width: 52px;
  height: 52px;
  border: 2px solid black;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 1px 5px;
  outline: none;
}

.daily-help-title {
  margin: 0;
}

p {
  margin-bottom: -10px;
  text-align: justify;
  text-indent: 10px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 2px solid black;
  border-radius: 10px;
}

.summary {
  width: 90%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

.secondary {
  color: black;
}

/***** One Card */

.one-card-flip {
  background-color: transparent;
  width: 180px;
  height: 312px;
  perspective: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#card-image {
  width: 180px;
  border-radius: 15px;
  height: 312px;
  border: 5px solid rgb(185 180 168);
}

.flip-card-front.one {
  width: 180px;
  height: 312px;
  border-radius: 15px;
}

.flip-card-back.one {
  width: 180px;
  height: 312px;
  border-radius: 15px;
}

.tarot-back.one {
  width: 180px;
  height: 312px;
  border-radius: 15px;
}

.card-image-preview {
  width: 100px;
  margin-top: 4vh;
}

.one-card-container-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 32px;
  margin-top: 30px;
}

/***** Homepage */

#homepage-div {
  max-width: 690px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#hide-description {
  font-size: 18px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 135px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 1px 1px 5px;
  outline: none;
}

#footer-homepage {
  justify-content: flex-end;
  display: flex;
}

/***** Flip Card Logic */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 81px;
  height: 148px;
  perspective: 1000px;
  transform: rotate(-10deg);
  margin-top: 6px;
}

.flip-card2 {
  background-color: transparent;
  width: 81px;
  height: 148px;
  perspective: 1000px;
}

.flip-card3 {
  background-color: transparent;
  width: 81px;
  height: 148px;
  perspective: 1000px;
  transform: rotate(10deg);
  margin-top: 10px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  animation: 2.5s rotateThreeCard;
  animation-fill-mode: forwards;
}

.flip-card-inner.one {
  animation-delay: 0.5s;
}

.flip-card-inner.two {
  animation-delay: 1.5s;
}

.flip-card-inner.three {
  animation-delay: 2.5s;
}

@keyframes rotateThreeCard {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotateY(-180deg);
  }
}

.tarot-back {
  width: 81px;
  height: 148px;
  border-radius: 5px;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  width: 81px;
  height: 148px;
  box-shadow: 2px 2px 2px;
}

/* Style the back side */
.flip-card-back {
  width: 81px;
  height: 148px;
  transform: rotateY(180deg);
  box-shadow: 5px 5px 5px;
  border-radius: 5px;
}

/***** One Card */

.one-card-help-info {
  margin-bottom: 30px;
}

/***** Three Card */
.card-container {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.cards-displayed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

#card-image-first {
  position: relative;
  width: 81px;
  min-height: 148px;
  border-radius: 5px;
  z-index: 0;
  border: 3px solid rgb(185 180 168);
}

#card-image-second {
  position: relative;
  width: 82px;
  min-height: 148px;
  border-radius: 5px;
  z-index: 0;
  border: 3px solid rgb(185 180 168);
}
#card-image-third {
  position: relative;
  width: 82px;
  min-height: 148px;
  border-radius: 5px;
  z-index: 1;
  border: 3px solid rgb(185 180 168);
}

.name-title {
  border-top: 5px solid black;
  padding-top: 0.5em;
}

.name-title-one {
  margin-bottom: 15px;
}

.threecard-summary {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.threecard-image {
  width: 250px;
  margin-top: 20px;
  box-shadow: 5px 5px 5px;
  border-radius: 5px;
  border: 10px solid rgb(185 180 168);
}

/***** Four Card */

#overarching-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.flip-card-inner.four.first {
  animation-delay: 0.5s;
}
.flip-card-inner.four.second {
  animation-delay: 1.5s;
}
.flip-card-inner.four.third {
  animation-delay: 2.5s;
}
.flip-card-inner.four.fourth {
  animation-delay: 3.5s;
}

.flip-card-front.four {
  width: 100px;
  height: 175px;
}

.flip-card-back.four {
  width: 100px;
  height: 175px;
}

.tarot-back.four {
  width: 100px;
  height: 175px;
}

.four-card-image {
  width: 100px;
  height: 175px;
  border-radius: 5px;
  border: 3px solid rgb(185 180 168);
}

.four-flip-card {
  background-color: transparent;
  width: 100px;
  height: 175px;
  perspective: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#four-card-container {
  padding-bottom: 32px;
}

#overarching-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.four-card-help-info {
  margin-bottom: 30px;
}

/* Nav Bar */

.main-nav {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  width: 100%;
}
.nav-li {
  list-style: none;
  display: table;
  margin-right: 10px;
  margin-bottom: 15px;
  border: 2px solid black;
  box-shadow: 1px 1px 2px;
  border-radius: 5px;
  background-color: grey;
  width: 50px;
  height: 30px;
  font-size: 14px;
}

.nav-li a {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 10px;
  text-decoration: none;
  color: black;
}

/* Footer */

#footer {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  text-decoration: none;
  background-color: #2a85c5;
  color: black;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
}

#footer-ul {
  display: inline-block;
  padding: 0;
  margin: 8px;
  font-size: 12px;
}

.footer-li {
  display: inline-block;
}

.footer-li.first {
  margin-right: 15px;
}

/* For Tablet */
@media screen and (min-width: 800px) {
  .App-logo-filler {
    height: 30vmin;
  }

  #four-card-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  #one-card-container {
    width: 72.5%;
    margin-left: auto;
    margin-right: auto;
  }

  #three-card-container {
    width: 72.5%;
    margin-left: auto;
    margin-right: auto;
  }

  .flip-card {
    width: 125px;
    height: 235px;
    margin-right: 20px;
    margin-top: 10px;
  }

  .flip-card2 {
    margin-right: 20px;
    width: 125px;
    height: 235px;
  }

  .flip-card3 {
    width: 125px;
    height: 235px;
    margin-top: 15px;
  }

  .tarot-back {
    width: 125px;
    height: 235px;
  }

  .flip-card-back {
    width: 125px;
    height: 235px;
  }

  .flip-card-front {
    width: 125px;
    height: 235px;
  }

  /* Three Card */

  #card-image-first {
    width: 125px;
    height: 235px;
    margin-right: 10px;
  }
  #card-image-second {
    width: 125px;
    height: 235px;
    margin-right: 10px;
  }
  #card-image-third {
    height: 235px;
    width: 125px;
  }

  /* Buttons */

  button:focus {
    outline: none;
    box-shadow: none;
  }

  .refresh {
    width: 100px;
    height: 75px;
    padding-bottom: 1.4em;
  }

  .refresh h3 {
    font-size: 22px;
    margin-left: 0px;
  }

  #help-button {
    width: 100px;
    height: 75px;
    font-size: 36px;
  }
}

/* For Large Screens */
@media screen and (min-width: 1100px) {
  .App-logo-filler {
    height: 40vmin;
  }

  .App-header {
    padding-bottom: 1rem;
  }

  #app-name-h1 {
    margin-top: 1rem;
  }

  #one-card-container {
    width: 62.5%;
    margin-left: auto;
    margin-right: auto;
  }

  #three-card-container {
    width: 62.5%;
    margin-left: auto;
    margin-right: auto;
  }

  .you-drew {
    margin-bottom: 1rem;
  }

  #four-card-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .four-flip-card {
    width: 140px;
    height: 260px;
  }

  .flip-card-front.four {
    width: 140px;
    height: 260px;
  }

  .tarot-back.four {
    width: 140px;
    height: 260px;
  }

  .flip-card-back.four {
    width: 140px;
    height: 260px;
  }

  .four-card-image {
    width: 140px;
    height: 260px;
  }

  #four-card-image-first {
    width: 140px;
    height: 260px;
  }
  #four-card-image-second {
    width: 140px;
    height: 260px;
  }
  #four-card-image-third {
    width: 140px;
    height: 260px;
  }
  #underarching-titles h4 {
    font-size: 24px;
  }

  /* Multiple card sizing*/

  #card-image-arching {
    width: 140px;
    height: 260px;
  }

  /* Three card sizing*/
  #card-image-first {
    width: 125px;
    height: 235px;
  }
  #card-image-second {
    width: 125px;
    height: 235px;
  }
  #card-image-third {
    width: 125px;
  }

  #four-card-container {
    width: 62.5%;
    margin-left: auto;
    margin-right: auto;
  }

  .cards-displayed h4 {
    font-size: 32px;
  }

  #overarching-title {
    font-size: 32px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .nav-li {
    margin-bottom: 1rem;
  }

  .nav-li a {
    font-size: 24px;
    padding: 10px 10px;
  }
}

/* For Widscreen Desktop */
@media screen and (min-width: 1700px) {
  #one-card-container {
    width: 52%;
    margin-left: auto;
    margin-right: auto;
  }

  #three-card-container {
    width: 52%;
    margin-left: auto;
    margin-right: auto;
  }

  #four-card-container {
    width: 52%;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-li a {
    font-size: 24px;
    padding: 30px 30px;
  }

  .card-container {
    width: 85%;
  }
}
